<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>todos</h1>
        <!-- <p>The only loaded client side JS is HTMX from the CDN.</p> -->

        <div>
          <button
            hx-post="/foo"
            hx-trigger="click"
            hx-target="#result-div"
            hx-swap="innerHTML"
          >
            Post TODO
          </button>
        </div>
        <div id="result-div">result</div>

        <%- include('../partials/todos', {data: {}}); %>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
