<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h2>Find nearest store</h2>

        <!-- Codestar/@52.0576631,5.1122532 -->
        <!-- KPN+Ventures/@51.9070121,4.4866698,17z -->
        <leaflet-map x="54" y="4" />
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
